@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.bgImg{
    background-size: cover;   
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}


h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-top: 15px;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 500px;
    height: 36em;
    top: 5em;
    position: fixed;
    left: 28em;
    
}

input{
    width: 350px;
    height: 27px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.719);
    padding: 13px;
    border-radius: 20px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.123);
}

input::placeholder{
    /* color: rgb(15, 15, 126); */
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    text-align: center;
}

input:focus,input:valid{
    outline-style: none;
    color: black;
    border-color: #053466;
    font-weight: bolder;
    text-align: center;
}

input:hover{
    background-color: transparent;
}

.together{
    display: flex;
}

.together input{
    width: 11vw;
}


#login, #submit{
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,203,198,1) 0%, rgba(77,199,223,1) 63%);
    color: white;
    padding: 10px;
    border: none;
    font-weight: bolder;
}

#login:hover, #submit:hover{
    color: black;
    border: 1px solid rgb(19, 19, 124);
    cursor:pointer; 
}

span{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

a{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    color: rgb(7, 7, 124);
    font-weight: bolder;
    text-decoration-line: none;
}

a:hover{
    color: purple;
}

